{% load static %}
{#{% load fontawesome %}#}
{#{% fontawesome_stylesheet %}#}

{% load base_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-­fit=no">
    <!-- Bootstrap CSS -->
     {% load static %}
    <link  rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <title>Bitácora</title>
    <link  rel="stylesheet" href="{% static "css/CustomSvt.css" %}">
    <link  rel="stylesheet" href="{% static "css/font-tulpen/stylesheet.css" %}">
    <link  rel="stylesheet" href="{% static "css/custom/tablas.css" %}">

    <link  rel="stylesheet" href="{% static "css/fontawesome.min.css" %}">

    <link  rel="stylesheet" href="{% static "css/lzm.context-0.5.css" %}">

    <title>Bitácora</title>
</head>
<body>
{#    {% static "css/bootstrap.min.css" %}#}

    <script type="text/javascript" src="{% static "js/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/popper.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    {# context menu para el click derecho#}
	<script type="text/javascript" src="{% static 'js/lzm.context-0.5.js' %}"></script>
    <script src="{% static 'js/bootbox.all.min.js' %}"></script>

    <script src="{% static 'js/fontawesome.all.min.js' %}"></script>
{# context menu para el click derecho#}
<script type="text/javascript" src="{% static 'js/lzm.context-0.5.js' %}"></script>

{% menu_dos as menu_mk %}
{{ menu_mk|safe }}

<div class="container" style="min-width: 1000px !important;">
	{% block content %}
    {% endblock content %}
</div>


</body>
</html>