{% extends "base.html" %}


{% block content %}


    {% load static %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

    <style type="text/css">
        .mediano {
            margin-top: 5px;
            padding-top: 9px;
            height: 30px;
            font-size: inherit;
            /*font-size: medium;*/
            text-align: right;
        }

        .res{
            resize: none;
        }

        .verde{
            color: #2abf63;
        }

        .rojo{
            color: #c71b1b;
        }


    </style>

    {% load widget_tweaks %}


    <div class="col-md-12">

        <div class="btn-group col-md-6" style="margin-bottom: 10px; margin-top: 10px">
            <a href="{% url 'base' %}" id="btnConsultarr"
               class="btn btn-sm btn-primary sobrepuesto" title="Consultar artículo">
                <i class="fa fa-chevron-left"></i> Consultar
            </a>
            <a href="#" id="btnGuardar" class="btn btn-sm btn-success sobrepuesto" title="Guardar información">
                <i class="fa fa-save"></i> Guardar
            </a>
            <a href="#" id="btnImprimir" class="btn btn-sm btn-info sobrepuesto"  title="Imprimir artículo">
                <i class="fa fa-print"></i> Imprimir
            </a>
            <a href="#" id="btnBase" class="btn btn-sm btn-primary sobrepuesto"
               title="Crear nuevo registro">
                <i class="fa fa-check"></i> Crear Nuevo
            </a>
            <a href="#" id="btnVer" class="btn btn-sm btn-warning sobrepuesto" title="Ver registro">
                <i class="fa fa-search"></i> Ver
            </a>
        </div>

        <div class="alert alert-dark">
            <h4 class="panel-title" style="text-align: center"><i class="fa fa-pencil-square"></i> Artículo
                <div style="text-align: center; font-size: 20px;">
                    {{ form.problema.value }}
                </div>
            </h4>
        </div>
    </div>


    {#         {% for row in form.fields.values %}#}
    {##}
    {#             {{ row }}#}
    {##}
    {#         {% endfor %}#}


    {#        {{ form.as_table }}#}


    {#        {{ form.media }}#}
    {#        {{ form.as_p }}#}


    <div class="form-group"  style="height: 400px;">
        <div class="col-md-12" style="margin-top: 30px">
            <form action="" method="post" id="formBase" novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-2">
                        <span class="col-md-2 label label-primary text-info mediano">{{ form.tema.label}}</span>
                    </div>
                    <div class="col-md-10">
                        {{ form.tema|add_class:'col-md-10' }}
                    </div>
                    {% if form.tema.errors %}
                        <div class="col-md-2"></div>
                        <div class="col-md-6" style="height: 50px; margin-top: 5px; color: #ff1e1e; font-size: 12px">
                            {{form.tema.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-2">
                        <span class="col-md-2 label label-primary text-info mediano">{{ form.problema.label}}</span>
                    </div>
                    <div class="col-md-10 res">
                        {% if form.is_bound %}
                            {% if form.problema.errors %}
                                {%  render_field form.problema class='col-md-10 form-control is-invalid' style='resize:none; height: 50px' %}
                                <div class="invalid-feedback" style="margin-top: 5px">
                                    {{form.problema.errors }}
                                </div>
                            {% else %}
                                {%  render_field form.problema class='col-md-10 form-control is-valid' style='resize:none; height: 50px' %}
                            {% endif %}
                        {% else %}
                            {%  render_field form.problema class='col-md-10 form-control' style='resize:none; height: 50px' %}
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-2">
                        <span class="col-md-2 label label-primary text-info mediano">{{ form.clave.label}}</span>
                    </div>
                    <div class="col-md-10 res">
                        {% if form.is_bound %}
                            {% if form.clave.errors %}
                                {%  render_field form.clave class='col-md-10 form-control is-invalid' style='resize:none; height: 50px' %}
                                <div class="invalid-feedback" style="margin-top: 5px">
                                    {{form.clave.errors }}
                                </div>
                            {% else %}
                                {%  render_field form.clave class='col-md-10 form-control is-valid' style='resize:none; height: 50px' %}
                            {% endif %}
                        {% else %}
                            {%  render_field form.clave class='col-md-10 form-control' style='resize:none; height: 50px' %}
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-2">
                        <span class="col-md-2 label label-primary text-info mediano">{{ form.solucion.label}}</span>
                    </div>
                    <div class="col-md-10">
                        {% if form.is_bound %}
                            {% if form.solucion.errors %}
                                {%  render_field form.solucion class='col-md-10 form-control is-invalid' style='resize:none; height: 100px' %}
                                <div class="invalid-feedback" style="margin-top: 5px">
                                    {{form.solucion.errors }}
                                </div>
                            {% else %}
                                {%  render_field form.solucion class='col-md-10 form-control is-valid' style='resize:none; height: 100px' %}
                            {% endif %}
                        {% else %}
                            {%  render_field form.solucion class='col-md-10 form-control' style='resize:none; height: 100px' %}
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-md-2">
                        <span class="col-md-2 label label-primary text-info mediano">{{ form.algoritmo.label}}</span>
                    </div>
                    <div class="col-md-10">
                        {{form.algoritmo|add_class:'col-md-10'}}
                    </div>
                    {% if form.algoritmo.errors %}
                        <div class="row col-md-6 alert alert-warning">
                            {{form.algoritmo.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-2">
                        <span class="col-md-2 label label-primary text-info mediano">{{ form.referencia.label}}</span>
                    </div>
                    <div class="col-md-10">
                        {% if form.is_bound %}
                            {% if form.referencia.errors %}
                                {%  render_field form.referencia class='col-md-10 form-control is-invalid' style='resize:none; height: 50px' %}
                                <div class="invalid-feedback" style="margin-top: 5px">
                                    {{form.referencia.errors }}
                                </div>
                            {% else %}
                                {%  render_field form.referencia class='col-md-10 form-control is-valid' style='resize:none; height: 50px' %}
                            {% endif %}
                        {% else %}
                            {%  render_field form.referencia class='col-md-10 form-control' style='resize:none; height: 50px' %}
                        {% endif %}
                    </div>
                </div>
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-md-2">
                        <span class="col-md-2 label label-primary text-info mediano">{{ form.observacion.label}}</span>
                    </div>
                    <div class="col-md-10">
                        {% if form.is_bound %}
                            {% if form.observacion.errors %}
                                {%  render_field form.observacion class='col-md-10 form-control is-invalid' style='resize:none; height: 50px' %}
                                <div class="invalid-feedback" style="margin-top: 5px">
                                    {{form.observacion.errors }}
                                </div>
                            {% else %}
                                {%  render_field form.observacion class='col-md-10 form-control is-valid' style='resize:none; height: 50px' %}
                            {% endif %}
                        {% else %}
                            {%  render_field form.observacion class='col-md-10 form-control' style='resize:none; height: 50px' %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">

        $("#btnGuardar").click(function () {
            {#$("#formBase").submit()#}


            {#$("#formBase").submit(function () {#}
            var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            var ser = $("#formBase").serialize();

            for (var instance in CKEDITOR.instances)
                CKEDITOR.instances[instance].updateElement();

            $.ajax({
                type: 'POST',
                {#url: "{% url 'author_delete' author.id%}",#}
                url: "{% url 'item_guardar' base.id%}",
                {#url: "{% url 'item_guardar'%}",#}
                dataType: "json",
                {#data:{#}
                {#id: '{{ base.id }}',#}
                {#    csrfmiddlewaretoken: csrfToken,#}
                {#    algoritmo: $("#id_algoritmo").val(),#}
                {#    problema: ser#}
                {# },#}
                data: ser,
                success: (function (data) {
                    {#console.log(data['message']);#}
                    if(data['message'] == 'success'){
                        bootbox.alert({
                            title: 'Guardado Correctamente',
                            message: "<i class='fa fa-check verde'></i>" +  " <strong class='verde'> Se ha guardado correctamente </strong>",
                            callback: function (){
                            }
                        });
                    }else{
                        bootbox.alert({
                            title: 'Error',
                            message: "<i class='fa fa-close rojo'></i>" +  " <strong class='rojo'> No se pudo guardar la información! </strong>",
                            callback: function (){
                            }
                        });
                    }
                }),
                error: (function (data){
                    bootbox.alert("Error al guardar la información!")
                })
            });
            {# });#}





        });

    </script>


{% endblock %}