<div class="" style="width: 99.7%; height: 600px; overflow-y: auto;float: right; margin-top: -20px">
    <table class="table-bordered table-condensed table-hover" width="1060px">
        {% for dato in data %}

            <tr id="{{ dato.id }}" data-id="{{ dato.id }}" class="principal tabla">
                <td width="120px">
                    {{ dato.tema.descripcion }}
                </td>

                <td width="240px" style="color:#186063">
                    {{ dato.clave }}
                </td>

                <td width="240px">
                    {{ dato.problema }}
                </td>

                <td width="460px" class="text-info">
                    {{ dato.solucion }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>


<script type="text/javascript">

    {#$(function () {#}
    {#    $("tr").contextMenu({#}
    {#        items  : createContextMenu,#}
    {#        onShow : function ($element) {#}
    {#            $element.addClass("trHighlight");#}
    {#        },#}
    {#        onHide : function ($element) {#}
    {#            $(".trHighlight").removeClass("trHighlight");#}
    {#        }#}
    {#    });#}
    {# });#}


{% comment %}
    var myMenu = [
    {
        icon: 'fa fa-home',
        label: 'Ver',

        // Callback
        action: function (option, contextMenuIndex, optionIndex) {
            {#$("#dialog-body").html(spinner);#}
            var id = $(this).data("id");
            console.log('id:', id)
            $.ajax({
                type: 'POST',
                {#url: '${createLink(controller: 'base', action: 'ver_ajax')}',#}
                data: {
                    id: id
                },
                success: function (msg) {
                    $("#dialog-body").html(msg)
                }
            });
            $("#dialog").modal("show");
        },

        // An array of submenu objects
        submenu: null,

        // is disabled?
        disabled: false   //Disabled status of the option
    },
    {
        icon: 'fa fa-user',
        label: 'Profile',
        action: function (option, contextMenuIndex, optionIndex) {
        },
        submenu: null,
        disabled: false
    },
    {
        icon: 'fa fa-envelope',
        label: 'Contact',
        action: function (option, contextMenuIndex, optionIndex) {
        },
        submenu: null,
        disabled: false
    },
    {
        //Menu separator
        separator: true
    },
    {
        icon: 'fa fa-share',
        label: 'Social Share',
        action: function (option, contextMenuIndex, optionIndex) {
    },
        submenu: [{ // sub menus
            icon: 'fa fa-facebook',
            label: '<a href="https://www.jqueryscript.net/tags.php?/Facebook/">Facebook</a>',
            action: function (option, contextMenuIndex, optionIndex) {
            },
            submenu: null,
            disabled: false
        },
        {
            icon: 'fa fa-<a href="https://www.jqueryscript.net/tags.php?/twitter/">twitter</a>',
            label: 'Twitter',
            action: function (option, contextMenuIndex, optionIndex) {
            },
            submenu: null,
            disabled: false
        }],
        disabled: false
    }];
{% endcomment %}

{% comment %}
    $('.tabla').on('contextmenu', function (e) {
        e.preventDefault();
        superCm.createMenu(myMenu, e);
    });
{% endcomment %}



    function createContextMenu(node) {
        var $tr = $(node);

        var items = {
            header: {
                label: "Acciones",
                header: true
            }
        };

        var id = $tr.data("id");
        console.log('id::', id)

        var ver = {
            label: 'Ver',
            icon: "fa fa-search",
            action: function (e) {
                $("#dialog-body").html(spinner);
                $.ajax({
                    type: 'POST',
                    {#url: '${createLink(controller: 'base', action: 'ver_ajax')}',#}
                    data: {
                        id: id
                    },
                    success: function (msg) {
                        $("#dialog-body").html(msg)
                    }
                });
                $("#dialog").modal("show");
            }
        };

        var aprobar = {
            label: "Aprobar artículo",
            icon: "fa fa-cogs",
            action: function () {
                {#location.href = '${createLink(controller: "base", action: "aprobar")}?id=' + id;#}
            }
        };

        var anexos = {
            label: 'Anexos: Imágenes y videos',
            icon: "fa fa-paperclip",
            action: function (e) {
                {#location.href = '${createLink(controller: 'imagen', action: 'verAnexos')}/' + id#}
            }
        };

        var editar = {
            label: 'Editar',
            icon: "fa fa-pencil",
            action: function (e) {
                {#location.href = '${createLink(controller: 'base', action: 'base')}/' + id#}
            }
        };


        items.ver = ver;
        items.anexos = anexos;
        items.editar = editar;
        items.aprobar = aprobar;

        return items
    }

     $("tr").contextMenu({
            items  : createContextMenu,
            onShow : function ($element) {
                $element.addClass("trHighlight");
            },
            onHide : function ($element) {
                $(".trHighlight").removeClass("trHighlight");
            }
        });

</script>
