<div class="" style="width: 99.7%; height: 600px; overflow-y: auto;float: right; margin-top: -20px">
    <table class="table-bordered table-condensed table-hover" width="1060px">
        {% for dato in data %}

            <tr id="{{ dato.id }}" data-id="{{ dato.id }}" class="principal tabla">
                <td width="120px">
                    {{ dato.tema.descripcion }}
                </td>

                <td width="240px" style="color:#186063">
                    {{ dato.clave }}
                </td>

                <td width="240px">
                    {{ dato.problema }}
                </td>

                <td width="460px" class="text-info">
                    {{ dato.solucion }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>


<script type="text/javascript">


    function createContextMenu(node) {
        var $tr = $(node);

        var items = {
            header: {
                label: "Acciones",
                header: true
            }
        };

        var id = $tr.data("id");
        {#console.log('id::', id)#}

        var ver = {
            label: 'Ver',
            icon: "fa fa-search",
            action: function (e) {
                $("#dialog-body").html(spinner);
                $.ajax({
                    type: 'POST',
                    url: "/ver_base",
                    data: {
                        id: id
                    },
                    success: function (msg) {
                        $("#dialog-body").html(msg)
                    }
                });
                $("#dialog").modal("show");
            }
        };

        var aprobar = {
            label: "Aprobar artículo",
            icon: "fa fa-cogs",
            action: function () {
                {#location.href = '${createLink(controller: "base", action: "aprobar")}?id=' + id;#}
            }
        };

        var anexos = {
            label: 'Anexos: Imágenes y videos',
            icon: "fa fa-paperclip",
            action: function (e) {
                {#location.href = '${createLink(controller: 'imagen', action: 'verAnexos')}/' + id#}
            }
        };

        var editar = {
            label: 'Editar',
            icon: "fa fa-pencil",
            action: function (e) {
                {#location.href = '{% url 'item_actualizar' '1' %}' + id #}
                location.href = '{% url 'item_actualizar' %}?id='  + id;
                {#location.href = '{% url 'item_actualizar' %}/'  + id;#}
            }
        };


        items.ver = ver;
        items.anexos = anexos;
        items.editar = editar;
        items.aprobar = aprobar;

        return items
    }

    $("tr").contextMenu({
        items  : createContextMenu,
        onShow : function ($element) {
            $element.addClass("trHighlight");
        },
        onHide : function ($element) {
            $(".trHighlight").removeClass("trHighlight");
        }
    });

</script>
